#main {
    /* background-color: lightslategray; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 85%;
    justify-content: space-around;
    margin: auto;
    text-align: center;

}

#title {
    text-align: start;
    font-size: 2rem;
    font-family: 'Satisfy', sans-serif;
    padding: 0 2rem;
    text-decoration: underline;
}

#main img {
    width: 20em;
    height: 20em;
    border: 3px solid black;
}

#main div h2 {
    font-family: 'Satisfy', sans-serif;

}

.bread h3 {
    display: flex;
    position: absolute;
    top: 300px;

}

#main img:hover {
    background-color: blueviolet;
    opacity: 0.5;
    cursor: pointer;
}