#main {
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-around;
    margin: auto;
    text-align: center;

}

h1 {
    text-align: center;
}

#main img {
    width: 20em;
    height: 20em;
}

.bread h3 {
    display: flex;
    position: absolute;
    top: 300px;

}

#main img:hover {
    background-color: blueviolet;
    opacity: 0.5;
    cursor: pointer;
}