h1 {
    text-align: center;
}

.main {
    text-align: center;
    width: 80%;
    margin: auto;
}

.main img {
    width: 500px;
    height: 420px;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 15rem;
}

@media (max-width: 920px) {
    .description {
        margin-left: 0;
    }
}