#main {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Bitter', serif;
}

#main h1 {
    font-family: 'Satisfy', sans-serif;
    font-size: 2em;
}

#main img {
    width: 420px;
    height: 420px;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 15rem;
}

.description h3 {
    font-family: 'Satisfy', sans-serif;
    font-size: 1.3em;

}

@media (max-width: 920px) {
    .description {
        margin-left: 0;
    }
}