#main {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Bitter';
    font-weight: 400;

}

#main h1 {
    font-family: 'Satisfy', sans-serif;

}

#main img {
    width: 500px;
    height: 420px;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 15rem;
}

.description h2 {
    font-family: 'Satisfy', sans-serif;

}

@media (max-width: 920px) {
    .description {
        margin-left: 0;
    }
}