h1 {
    text-align: center;
    font-family: 'Satisfy', sans-serif;
    font-size: 2em;

}

.main {
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'Bitter', serif;
}

.main img {
    width: 500px;
    height: 420px;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 15rem;
}

.description h3 {
    font-family: 'Satisfy', sans-serif;

}

@media (max-width: 795px) {
    .description {
        margin-left: 0;
    }
}