#main {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Bitter', serif;
}

#main h1 {
    font-family: 'Satisfy', sans-serif;
    font-size: 2em;
}

#main img {
    width: 500px;
    height: 420px;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 15rem;
}

.description h3 {
    font-family: 'Satisfy', sans-serif;
    font-size: 1.5em;
}


.description p {
    display: relative;
}

@media (max-width: 920px) {
    .description {
        margin-left: 0;
    }

    #main img {
        width: 325px;
        height: 325px;
    }
}