#main {
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Bitter', serif;
    font-weight: 400;
}

#main img {
    width: 500px;
    height: 420px;
}


#main h1,
.description h3,
p {
    font-family: 'Satisfy', 'cursive';
    font-size: 1.5em;
}

.description {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 15rem;
}


.description p {
    display: relative;
}

@media (max-width: 700px) {
    .description {
        margin-left: 0;
    }
}